@use '../base' as *;

$scrollbar-width: 0.3rem;

.popover {
  position: absolute;
  display: flex;
  flex-flow: column;
  background-color: $bkg-color;
  border-style: solid;
  border-width: 0.4rem;
  border-color: $hl-green;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 94%;
  height: 96%;
  margin: 0 auto;
  left: 3%;
  right: 3%;
  top: 2%;
}

.popover__image {
  max-width: 70%;
  margin: auto;
  max-height: 10%;

  > div {
    position: unset !important;
    height: 100%;
  }

  .image {
    object-fit: contain;
    position: relative !important;
    // width: 100% !important;
    // height: unset !important;
    width: auto !important;
    height: unset !important;
  }
}

.popover__desc {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
  margin-top: 0.2rem;
}

.popover__topright_icons {
  margin-left: auto;
}

.icon-button {
  z-index: 2;
  color: $hl-green;
  font-size: 1.4rem;
}

.popover__title {
  display: inline;
  margin-top: -1.3rem;
  max-width: 91%;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.popover__year {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

svg {
  color: $hl-green;
}

.carousel__arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 2rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  color: $hl-green;

  &.arrow_prev {
    left: -0.4rem;
  }

  &.arrow_next {
    right: -0.4rem;
  }
}

#svg_arrow {
  fill: $hl-green;
}

.popover__desc_btn {
  display: inline;
  border: none;
  background-color: Transparent;
  padding: 0.3rem;
  padding-bottom: 0.2rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;

  &.active {
    border-bottom: 1px solid $hl-green;
  }

  &:hover {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: $hl-green;
  box-shadow: inset 0 0 $scrollbar-width rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: $bkg-color;
  box-shadow: inset 0 0 $scrollbar-width rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 768px) {
  .popover {
    position: absolute;
    display: flex;
    flex-flow: column;
    background-color: $bkg-color;
    border-style: solid;
    border-width: 0.4rem;
    border-color: $hl-green;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 20rem;
    height: 40rem;

    &.active {
      z-index: 1;
    }

    &.maximized {
      width: 90%;
      height: 70%;
      max-width: 55rem;
      height: 35rem;
      margin: 0 auto;
      left: 5%;
      right: 5%;
      top: 5%;
    }
  }

  .popover__image.maximized {
    margin: auto;
    display: inline-block;
    height: 25rem;

    > div {
      position: unset !important;
      height: 100%;
    }

    .image {
      object-fit: contain;
      // width: 100% !important;
      width: auto !important;
      position: relative !important;
      height: 100% !important;
    }
  }
}
