@use '../base' as *;

.popover {
  position: absolute;
  display: inline-block;
  background-color: $bkg-color;
  // left: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: $hl-green;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  // transform: translate(0, -80px);
  width: 20em;

  &.active {
    z-index: 1;
  }

  &.maximized {
    position: absolute;
    width: 50em;
  }

  .popover__btn_close-popover {
    float: right;
  }

  .popover__title {
    // font-size: 1rem;
    text-transform: uppercase;
  }

  .popover__slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .popover__slider::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .popover__slider::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .popover__slider::-webkit-scrollbar-track {
    background: transparent;
  }
  .popover__slider > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .popover__slider > div:target {
    /*   transform: scale(0.8); */
  }

  // PlusIcon {
  //   height: 5px;
  //   width: 5px;
  // }

  // .popover__slider > a {
  //   display: inline-flex;
  //   width: 1.5rem;
  //   height: 1.5rem;
  //   background: white;
  //   text-decoration: none;
  //   align-items: center;
  //   justify-content: center;
  //   border-radius: 50%;
  //   margin: 0 0 0.5rem 0;
  //   position: relative;
  // }
  // .popover__slider > a:active {
  //   top: 1px;
  // }
  // .popover__slider > a:focus {
  //   background: #000;
  // }

  // /* Don't need button navigation */
  // @supports (scroll-snap-type) {
  //   .popover__slider > a {
  //     display: none;
  //   }
  // }
}

// .popover__carousel-viewport {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   display: flex;
//   overflow-x: hidden;
//   counter-reset: item;
//   scroll-behavior: smooth;
//   scroll-snap-type: x mandatory;
// }

// .popover__carousel_slide {
//   position: relative;
//   // flex: 1 0 auto;
//   counter-increment: item;
// }

.popover__slider::before,
.popover__slider::after,
.popover__carousel__prev,
.popover__carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.popover__slider::before,
.popover__carousel__prev {
  left: -1rem;
}

.popover__slider::after,
.popover__carousel__next {
  right: -1rem;
}

.popover__slider::before,
.popover__slider::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.popover__slider::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.popover__slider::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.popover__desc_text {
  // text-align: center;
  max-height: 11em;
  overflow: auto;
}
