@use '../base/_colors' as *;

.projs {
  display: inline;
  // flex-flow: row wrap;
  // gap: 0.2em;
  margin-top: 1rem;
}

.proj {
  display: inline;
  // display: flex;
  // flex-flow: row wrap;
  // gap: 0.2em;
  &.active {
    background-color: $hl-green;
  }
}

.proj:hover {
  cursor: pointer;
}

.proj-list-btns{
  position: sticky;
  top: 4rem;
}

.proj-box {
  display: inline-block;
  img{
    width: auto;
    height: 6rem;
    margin-right: .5rem;
  }
}
