@use '../base/_colors' as *;

.projs {
  // display: inline-block;
  // flex-flow: row wrap;
  // gap: 0.2em;
  // align-content: flex-start;
}

.proj {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 0.2em;
  // flex: 0 1 none;
  // max-width: 30ch;
  &.active {
    background-color: $hl-green;
  }
}

.proj-box {
  display: inline-block;
}

.proj-box > * {
  // display: block;
}

.proj > * {
  // display: inline;
  // border: 1px solid red;
  // gap: 0.2em;
  // flex-flow: row wrap;
  // flex: 0 1 none;
}

.proj-box {
  // min-width: fit-content;
  // max-width: fit-content;
}
