body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 1.2rem 1.2rem 1.2rem;
  max-width: 70rem;
  margin: 0 auto;
}

h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
}

.blurb {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
